# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/amplify
/frontend/node_modules
/backend/node_modules
/.pnp
.pnp.js

# testing
/coverage
/frontend/.vscode
/frontend/js
/frontend/index.html

#amplify
#/frontend/amplify*
/frontend/amplify/.config/local-*
/frontend/amplify/\#current-cloud-backend
/frontend/amplify/mock-data
/frontend/amplify/backend/amplify-meta.json
/frontend/amplify/backend/awscloudformation
/frontend/amplify/logs/
/frontend/amplify/hosting
/frontend/amplify/cli.json
/frontend/amplify/team-provider-info.json
/frontend/src/aws-video-exports.js
/frontend/src/aws-exports.js
/frontend/package-lock.json





#history
.history



# production
/build
/frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.eslintcache
.eslintcache
./eslintcache
/.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/doc/index.html
/doc/plan.md

#under dev
/client*
