* {
    margin: 0;
    box-sizing: border-box;
}
  
body {
    font-family: "Open Sans Condensed", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.App{ text-align:center}

.loadingData{color: white;}

.headerPlayer { 
    text-align:center;  
    line-height:0px;  
    font-size:24px;  
    margin:5px ;
    
    h1{
        padding:0px 0px 15px;
        color: white;
    }
}

.enCamera{ 
    box-sizing:border-box;  
    display:flex;  
    justify-content:center;  
    margin:auto;  
    background:#070829;  
    width:600px;  
    height:100%; 
    line-height: 32px;  
    margin-bottom: 3px;

    p{
        color:white;  font-size:20px;  justify-content:center;  
        padding: 10px;
        margin: auto;
    }

    .buttonEncam {
        background-color:#232F3E;
        border: none;
        color: white;
        border-radius: 8px;
        padding: 0px 30px 0px; 
        height: 80px;
        width: 150px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        margin: 50px 10px;
    }
}

.configFirst {
    color:orange;  
    font-size:16px;  
    padding:auto;  
    margin:auto; 
    text-align: center; 
}

.errorMSG{ 
    color:red;  
    font-size:16px;  
    padding:auto;  
    margin:auto; 
    text-align: center; 
    line-height: 32px;  
    margin-bottom: 3px;
}

.saved {
    color: greenyellow;
    margin:auto;
    text-align: center; 
    padding:auto;  
}

.textFormivs{ 
    display:flex;  
    font-size:20px;  
    margin:auto;

    .form-ivs{ margin:auto;  padding:auto;}
    .form-URL{ display:flex; box-sizing:border-box;}
    .formLabel{ text-align:center;  line-height:0px;  color:rgb(220,224,228);  font-size:16px;  padding:30px 0px 0px} 
    .formURL{ display:flex;  width:300px;  height:38px;  margin:10px} 
    .formBot{ display:flex;  background-color:#00b7ff;  border:none;  color:white;  padding:10px 30px 10px;  margin-top:1000px;  margin:8px;  display:inline-block;  font-size:16px;  height:40px;  border-radius:8px}

}

