.App {
  text-align: center;
}

.loading{
  color: white;
  padding: 6px 10px;
}

.welcome{
  color: white;
  padding: auto;
}

.title{
  padding: 0px 0px 15px;
}

.form-group{
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.player-wrapper
{
  display: flex; 
  justify-content: center;
  align-items: top;
  margin: 0 0 20px;
}

.headerPlayer{
  text-align: center;
  line-height: 0px;
  color: rgb(220, 224, 228);
  font-size: 24px;
  margin: 5px;
}

.form-URL{
  display: flex; 
  justify-content: left;
  width: 100%;
  margin: 0px 0;
  box-sizing: border-box;
}

.EnCamBOX{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: left;
  margin: auto;
  background: #070829;
  width: 550px;
  height: 100%;
  padding: auto;
}

.textForm{
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.errorMSG{
  color: red;
  display: flex;
  justify-content: center;
}


.textFormivs{
  display: flex;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form-ivs{
  justify-content: center;
  margin: auto;
  padding: auto;
  align-items: center;
}


.form-Player{
  display: flex; 
  justify-content: center;
  align-items: top;
  width: 100%;
  padding: 20px 0px;
  margin: auto;
  box-sizing: border-box;
}

.form-control{
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  margin: 10px;
}

.form-control-play{
  width: 440px;
  height: 40px;
  margin: 10px 0;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 5px;
  border-color: lightgrey;
}

.form-control-select{
  text-align: center;
  margin: auto;
  display: flex; 
  justify-content: center;
  margin: 18px 0;
  padding:0;
}

.formURL{
  display: flex;
  width: 350px;
  height: 38px;
  margin: 10px;
}

.formURLplay{
  display: block;
  width: 300px;
  height: 38px;
  padding: 10px 30px 10px;
  margin: 10px;
}

.formURLplayCh{
  width: 100%;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  margin: 10px;
}

.formLabelPlayURL{
  display: block;
  text-align: center;
  line-height: 0px;
  color: rgb(220, 224, 228);
  font-size: 20px;
}

.VideoBOX{
  margin: 20px;
}

.configFirst{
  color: orange;
  font-size: 16px;
  padding: 10px 100px 10px;
  margin: auto;
}


.formBot{
  display: flex;
  background-color:	#00b7ff;
  border: none;
  color: white;
  padding: 10px 30px 10px;
  margin-top: 1000px;
  margin: 8px;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  border-radius: 8px;
}

.formBotConecting{
  display: flex;
  background-color: red;
  border: none;
  color: white;
  padding: 10px 30px 10px;
  margin-top: 1000px;
  margin: 8px;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  border-radius: 8px;
}

.formBotPlay{
  display: flex;
  background-color:	#00b7ff;
  border: none;
  color: white;
  padding: 2px 20px 0px;
  margin: 12px;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  border-radius: 8px;
}

.botForm{
  padding: 40px 0px 10px;
}

.formatText{
  color: white;
  font-size: 18px;
}

.playerBOX{
  padding: 30px 0px 0px;
}

.webcamBOX{
  display: flex; 
  width: 640px;
  height: 360px;
  justify-content: center;
  margin: auto;
  padding: 0px 0px 0px 0px;
}

.playercamBOX{
  display: flex;
  justify-content: center; 
  align-items: top;
  margin: auto;
  padding: 0px 0px 0px;
}

.saved{
  color: greenyellow;
  margin: auto;
  text-align: right;
  padding: 0px 250px 0px;
}

.enableCam{
  background-color: #232F3E; /* Blue */
  color: white;
  padding: auto;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  display: flex;
}

.formLabel{
  text-align: center;
  justify-content: center;
  line-height: 0px;
  color: rgb(220, 224, 228);
  font-size: 20px;
  padding: 30px 0px 0px;
}


.DebugBOXger{
  line-height: 0px;
  color: rgb(220, 224, 228);
  margin: 0px;
  padding: 6px 200px;
}

.DebugBOXtitle{
  text-align: left;
  line-height: 0px;
  color: rgb(220, 224, 228);
  font-size: 16px;
  margin: 0 0 15px;
}

.DebugBOX{
  margin: 0;
  background-color: #282c34;
  line-height: 0px;
  text-align: left;
  color: #26262626;
  overflow: auto;
  scrollbar-width: none;
  
  
}

.DebugTable{
  table-layout: flex;
  word-wrap: break-all;
  white-space: nowrap;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
